<ul>
  <li><%= link_to "Standings", pool_standings_path(@pool) %></li>
  <li><%= link_to "Make Picks", new_pool_pick_set_path(@pool) %></li>
  <% if can? :update, @pool %>
    <li><%= link_to "Players", pool_players_path(@pool) %></li>
  <% end %>
</ul>
