<h3>Rules</h3>
<div>
  <img style="margin-top: 12px;" src="/assets/rules.jpg" alt="" />
</div>
<ol>
  <li>
    Each week during the NFL regular season you must pick 3 games against the spread on this website ONLY.
  </li>

  <li>
    Our lines are obtained from the online sports book Sports Interaction (http://www.sportsinteraction.com/football/nfl-betting-lines/) once a minute.  
  </li>

  <li>
    A win is recorded as +1, a loss -1 and a push registers as 0.  
  </li>

  <li>
    3 games must be picked each week, if you should fail to make a pick it will register as a minus 1 for each missed pick.  
  </li>

  <li>
    ALL OF YOUR PICKS MUST BE MADE BY 10AM MOUNTAIN STANDARD TIME SUNDAY DURING EACH WEEK OF THE NFL REGULAR SEASON. 
  </li>

  <li>
    Once the deadline passes the pools picks will be free to be viewed by all, so we can root and cheer against our fellow competitors.  
  </li>

  <li>
    Once you make a pick that pick at that number shall forever be yours, the are no take backs in gambling.  
  </li>

  <li>
    Dues must be paid by Week 3 of the NFL regular season.  
  </li>

  <li>
    After Week 3 we will determine payouts for the top of the board plus bonus payments for 3-0's for weeks 11 through 17.  
  </li>

  <li>
    Bonus payments will be evenly split by any and all who record a +3 during said weeks, and will carry over to the next week should any of you miserables fail to attain a pristine weekly record.   
  </li>
</ol>
