<% if @pool.preseason? && !current_user.admin? %>
  Season hasn't started yet, bro. You can make picks beginning <%= Year::LINES_OPEN.strftime('%D') %>
<% elsif @pool.over? %>
  You can't pick games from seasons past, this is not Back to the Future II.
<% else %>
  <h3>
    Picks for Week <%= @week.name %> in <%= @pool.name %><br />
  </h3>

  <%= render 'form' %>
<% end %>
