/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.


*/


/* line 7, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 24, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 29, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
blockquote, q {
  quotes: none;
}

/* line 30, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 32, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 33, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 34, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
del {
  text-decoration: line-through;
}

/* line 35, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 36, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 37, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 38, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input, select {
  vertical-align: middle;
}

/* line 40, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
body {
  font: 13px/1.231 sans-serif;
  *font-size: small;
}

/* line 41, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
select, input, textarea, button {
  font: 99% sans-serif;
}

/* line 42, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* line 44, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
html {
  overflow-y: scroll;
}

/* line 45, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a:hover, a:active {
  outline: none;
}

/* line 46, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
ul, ol {
  margin-left: 2em;
}

/* line 47, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
ol {
  list-style-type: decimal;
}

/* line 48, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
nav ul, nav li {
  margin: 0;
  list-style: none;
  list-style-image: none;
}

/* line 49, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
small {
  font-size: 85%;
}

/* line 50, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
strong, th {
  font-weight: bold;
}

/* line 51, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
td {
  vertical-align: top;
}

/* line 53, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

/* line 54, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
sup {
  top: -0.5em;
}

/* line 55, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
sub {
  bottom: -0.25em;
}

/* line 57, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 15px;
}

/* line 58, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
textarea {
  overflow: auto;
}

/* line 59, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.ie6 legend, .ie7 legend {
  margin-left: -7px;
}

/* line 60, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="radio"] {
  vertical-align: text-bottom;
}

/* line 61, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="checkbox"] {
  vertical-align: bottom;
}

/* line 62, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

/* line 63, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.ie6 input {
  vertical-align: text-bottom;
}

/* line 64, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
label, input[type="button"], input[type="submit"], input[type="image"], button {
  cursor: pointer;
}

/* line 65, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
button, input, select, textarea {
  margin: 0;
}

/* line 67, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

/* line 68, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid {
  background-color: #f0dddd;
}

/* line 70, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
::-moz-selection {
  background: #B7C3D0;
  color: #fff;
  text-shadow: none;
}

/* line 71, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
::selection {
  background: #B7C3D0;
  color: #fff;
  text-shadow: none;
}

/* line 72, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a:link {
  -webkit-tap-highlight-color: #B7C3D0;
}

/* line 74, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
button {
  width: auto;
  overflow: visible;
}

/* line 75, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* line 77, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
body, select, input, textarea {
  color: #444;
}

/* line 78, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

/* line 79, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a, a:active, a:visited {
  color: #607890;
}

/* line 80, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a:hover {
  color: #036;
}

/* line 96, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
body {
  font-family: helvetica,sans-serif;
  font-size: 14px;
  margin-bottom: 56px;
}

/* line 97, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
h1 {
  font-family: futura-pt, sans-serif;
  font-size: 38px;
}

/* line 98, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
h2 {
  font-family: futura-pt, sans-serif;
  font-size: 24px;
}

/* line 99, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
h3 {
  font-family: futura-pt, sans-serif;
  font-size: 16px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* line 100, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 101, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
li {
  margin: 0;
  padding: 0;
}

/* line 102, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a, a:visited, a:active {
  text-decoration: none;
  color: #009ACD;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 108, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
a:hover {
  color: #B7C3D0;
}

/* line 109, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container {
  background: #222;
  -moz-box-shadow: 0px 3px 5px #666;
  -webkit-box-shadow: 0px 3px 5px #666;
  box-shadow: 0px 3px 5px #666;
  margin-bottom: 14px;
}
/* line 113, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container header {
  margin: 0 auto;
  padding: 3px 0;
  width: 960px;
}
/* line 114, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container header #header-home a {
  font-weight: 400;
  letter-spacing: 5px;
  padding: 2px 4px;
  text-transform: uppercase;
}
/* line 115, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container header #header-home a:hover {
  background: #009ACD;
}
/* line 116, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container header #reminder {
  background: red;
  color: white;
  padding: 3px;
  text-align: center;
}
/* line 118, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container #primary-nav {
  float: right;
  margin-top: -40px;
}
/* line 121, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container #primary-nav ul li {
  float: left;
}
/* line 123, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container #primary-nav ul li a {
  display: block;
  margin: 0 4px;
  padding: 4px;
}
/* line 128, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#header-container #primary-nav ul li a:hover {
  background: #009ACD;
}

/* line 134, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#container {
  margin: 0 auto;
  width: 960px;
}

/* line 135, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#dashboard-pools {
  list-style: none;
}
/* line 137, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#dashboard-pools li {
  border: 1px solid #ccc;
  font-size: 20px;
  margin: 12px;
  text-align: center;
  text-transform: uppercase;
}
/* line 143, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#dashboard-pools li a {
  display: block;
  padding: 12px;
}
/* line 147, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#dashboard-pools li a:hover {
  background: #ccc;
  color: #009ACD;
  -moz-box-shadow: 0px 0px 5px #00B2EE;
  -webkit-box-shadow: 0px 0px 5px #00B2EE;
  box-shadow: 0px 0px 5px #00B2EE;
}

/* line 155, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#pool-nav {
  background: #eee;
  list-style: none;
  margin: 0 0 14px 0;
  padding: 8px 4px;
}
/* line 160, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#pool-nav li {
  margin: 0 8px;
  float: left;
}
/* line 163, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#pool-nav li a:hover {
  text-decoration: underline;
}

/* line 167, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.left {
  float: left;
}

/* line 168, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.pick_set table {
  margin: 0 auto;
  width: 420px;
}

/* line 169, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.sub-container {
  border: 1px solid #ccc;
  width: 420px;
  margin: 12px;
  padding: 12px;
}
/* line 174, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.sub-container p {
  margin-bottom: 8px;
}
/* line 176, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.sub-container p b {
  font-weight: bold;
}

/* line 180, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#week-list {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 12px;
  padding: 4px;
}
/* line 185, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#week-list li {
  float: left;
  margin-right: 8px;
}

/* line 188, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#stats {
  margin-bottom: 12px;
}
/* line 190, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#stats table {
  float: left;
  font-size: 12px;
  margin-right: 24px;
}
/* line 191, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#stats th, #stats td {
  padding: 6px 20px;
}

/* line 194, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
table {
  font-size: 14px;
  margin-bottom: 1.4em;
}

/* line 195, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
th {
  color: #999;
  border-bottom: 2px solid #009ACD;
  font-weight: normal;
}

/* line 196, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
td {
  border-bottom: 1px solid #ddd;
}

/* line 197, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
th, td {
  padding: 8px 20px;
}

/* line 198, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
tfoot {
  font-style: italic;
}

/* line 199, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
caption {
  background: #ffc;
}

/* line 200, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.shade {
  background: #eee;
}

/* line 201, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.user {
  background: #98FB98;
}

/* line 202, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.win {
  color: green;
}

/* line 203, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.loss {
  color: red;
}

/* line 205, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.pick-instructions {
  color: #009ACD;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 206, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list {
  font-size: 18px;
}
/* line 207, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list li {
  border-bottom: 1px solid #ccc;
  padding: 4px 0;
}
/* line 208, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .at {
  color: #009ACD;
  font-size: 10px;
  margin-left: 35px;
  text-transform: uppercase;
}
/* line 209, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .game-off {
  float: right;
}
/* line 210, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .game-off h3 {
  color: red;
}
/* line 211, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .click-to-pick {
  color: #009ACD;
  display: none;
  float: right;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 212, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .picked-notice {
  color: #009ACD;
  float: right;
  font-size: 10px;
  text-transform: uppercase;
}
/* line 213, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .game-off, #game-list .team-off, #game-list .picked-notice, #game-list .picked-team {
  padding: 10px;
}
/* line 214, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list img.team_logo {
  margin-right: 12px;
  vertical-align: middle;
}
/* line 215, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .team-line {
  padding: 10px;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
/* line 222, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .team-line:hover {
  -moz-box-shadow: 0 0 8px #666;
  -webkit-box-shadow: 0 0 8px #666;
  box-shadow: 0 0 8px #666;
  color: green;
  background: #98FB98;
  cursor: pointer;
}
/* line 227, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .picked:hover {
  background: #4AC948;
}
/* line 228, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#game-list .team-line:active {
  background: #4AC948;
}

/*.picked {*/
/*@include box-shadow(0, 0, 8px, #666);*/
/*color:green;*/
/*background:#CCFFCC;*/
/*}*/
/* line 237, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.topic-tools {
  margin-top: -10px;
}

/* line 238, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#new_message {
  margin: 15px;
}
/* line 240, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#new_message #message_body {
  height: 150px;
  width: 100%;
}

/* line 243, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.topics-container {
  font-size: 12px;
}

/* line 244, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.reply-container {
  padding: 10px;
}

/* line 245, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.author {
  color: #009ACD;
  font-size: 10px;
  text-transform: uppercase;
  width: 400px;
}

/* line 246, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.reply-date {
  color: #009ACD;
  float: right;
  font-size: 10px;
  text-transform: uppercase;
}

/* line 248, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.badge-container {
  -moz-box-shadow: 0 0 12px #009ACD;
  -webkit-box-shadow: 0 0 12px #009ACD;
  box-shadow: 0 0 12px #009ACD;
  float: left;
  height: 220px;
  margin: 12px 12px;
  padding: 10px;
  text-align: center;
  width: 180px;
}
/* line 249, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.badge-container h3 {
  color: #009ACD;
}
/* line 251, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.badge-container h3 span {
  font-size: 12px;
  font-weight: normal;
}
/* line 260, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.badge-container .badge-desc {
  font-size: 12px;
  padding: 8px;
}

/* line 266, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
label {
  display: block;
  margin: 4px 0;
}

/* line 267, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
label i {
  font-style: italic;
  font-size: 10px;
}

/* line 269, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="text"], input[type="password"], input[type="number"], input[type="tel"], input[type="email"], input[type="url"], textarea {
  margin: 0 0 12px 0;
  width: 500px;
  padding: 8px;
  border: 1px solid #ddd;
  background: #eee;
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  transition: background-color .25s linear;
  color: #666;
  vertical-align: middle;
}

/* line 284, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="text"]:hover, input[type="text"]:focus,
input[type="number"]:hover, input[type="number"]:focus,
input[type="password"]:hover, input[type="password"]:focus,
input[type="tel"]:hover, input[type="tel"]:focus,
input[type="email"]:hover, input[type="email"]:focus,
input[type="url"]:hover, input[type="url"]:focus,
textarea:hover, textarea:focus {
  padding: 8px;
  border: 1px solid #009ACD;
  background: #009ACD;
  color: #fff;
  vertical-align: middle;
  outline: none;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* line 304, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="button"], input[type="submit"], button.pick_set {
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 10px auto;
  padding: 4px 8px;
  color: #fff;
  text-shadow: 0 1px 0 rgba(31, 31, 31, 0.5);
  background: #009ACD;
  border: 1px solid #009ACD;
  -webkit-transition: background-color .25s linear;
  -moz-transition: background-color .25s linear;
  -o-transition: background-color .25s linear;
  -ms-transition: background-color .25s linear;
  transition: background-color .25s linear;
}

/* line 322, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
button.pick_set {
  float: right;
  font-size: 24px;
}

/* line 327, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="button"]:hover, input[type="submit"]:hover,
input[type="button"]:focus, input[type="submit"]:focus {
  color: #009ACD;
  text-shadow: 0 -1px 0 #000;
  background: #333;
  border: 1px solid #000;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

/* line 336, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
input[type="button"]:active, input[type="submit"]:active {
  color: #fff;
  text-shadow: 0 1px 0 #333;
  background: #000;
  border: 1px solid #000;
  -webkit-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
}

/* line 345, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.fieldWithErrors {
  margin: 2px;
  padding: 2px;
  background-color: #c00;
  display: table;
}

/* line 352, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#error_explanation {
  border: 2px solid #c00;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

/* line 360, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 5px;
  font-size: 12pt;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

/* line 370, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

/* line 376, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#error_explanation ul li {
  list-style: disc;
  margin-left: 20px;
}

/*Flash Notice Style*/
/* line 383, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#notice_notice {
  border: 1px solid green;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 6px;
  color: green;
  background-color: #78D383;
  text-align: center;
}

/* line 393, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#notice_error, #notice_alert {
  border: 1px solid #c99;
  background: #DE0202;
  color: #fff;
  margin-bottom: 20px;
  font-size: 12px;
  padding: 6px;
  text-align: center;
}

/* line 404, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
}

/* line 405, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.hidden {
  display: none;
  visibility: hidden;
}

/* line 406, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* line 407, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 409, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.invisible {
  visibility: hidden;
}

/* line 410, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.group:before, .group:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}

/* line 411, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.group:after {
  clear: both;
}

/* line 412, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.group {
  zoom: 1;
}

@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}
@media print {
  /* line 430, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 432, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  a, a:visited {
    color: #444 !important;
    text-decoration: underline;
  }

  /* line 433, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 434, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 435, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 436, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 437, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  thead {
    display: table-header-group;
  }

  /* line 438, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  tr, img {
    page-break-inside: avoid;
  }

  @page {
    margin: 0.5cm;
  }
  /* line 440, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 441, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
/* new pick stuff */
/*#pick_set_games {*/
/*li.game { border-bottom: 1px solid #ccc; height: 50px; padding: 10px 0; width: 660px;*/
/*.team {float: left; margin: 15px;*/
/*span { display: block; float: left;}*/
/*.logo { width: 100px; }*/
/*.nickname { padding-top: 20px; width: 100px; }*/
/*.spread { padding-top: 20px; width: 75px; }*/
/*.atat { float: left; padding-top: 20px; width: 10px; }*/
/*}*/
/*}*/
/*}*/
/* line 457, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#pick_set_games {
  width: 100%;
}
/* line 459, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
#pick_set_games .team:hover {
  cursor: pointer;
}

/* line 461, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.disabled {
  background-color: #eee;
}

/* line 462, /Users/danw/code/spreads/app/assets/stylesheets/main.css.scss */
.picked {
  background: #98FB98;
}
/* line 1, /Users/danw/code/spreads/app/assets/stylesheets/pools.css.scss */
.picks-alert {
  background: green;
  padding: 8px;
  text-align: center;
  color: white;
}
/* line 7, /Users/danw/code/spreads/app/assets/stylesheets/pools.css.scss */
.picks-alert a {
  color: white;
  font-weight: bold;
}
/* line 1, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
#live_picks {
  float: left;
  width: 400px;
}

/* line 2, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
#picks_container {
  margin-top: 20px;
}

/* line 3, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
.live_pick {
  width: 400px;
}

/* line 4, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
.live_pick td {
  padding: 4px 12px;
}

/* line 5, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
.game_result {
  font-size: 30px;
  text-align: center;
}

/* line 6, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
.picked_team {
  font-weight: bold;
}

/* line 8, /Users/danw/code/spreads/app/assets/stylesheets/scoreboard.css.scss */
#live_standings {
  float: right;
  width: 500px;
}
