<% if @week_list %>
  <ul id="week-list" class="group">
    <li>Choose week:</li>
    <% @pool.year.weeks.each do |w| %>
      <% if w.name.to_i <= @week_list.name.to_i %>
        <li><%= link_to w.name, pool_standings_for_week_path(@pool, w.name.to_i) %></li>
      <% end %>
    <% end %>
  </ul>
<% end %>
