li .teamLine {font-size: 24px;}
li .teamLine {padding: 16px; 
  -webkit-transition-property:color, background; 
  -webkit-transition-duration: .25s, .10s; 
  -webkit-transition-timing-function: linear, ease-in;
}
li .teamLine:hover { box-shadow:inset 0 0 4px #666;
  color:green;
  background:#eee;
  cursor: pointer;
}

.picked {
  box-shadow:inset 0 0 4px #666;
  color:green;
  background:#CCFFCC;
}
