
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body style="margin: 0 auto; width: 500px;">
    <% attachments.inline['logo.png'] = File.read('app/assets/images/logo.png') %>
    <div>
      <%= image_tag attachments['logo.png'].url %>
    </div>
    <p>Hello <%= @resource.display_name %>!</p>
    <p>Someone has requested a link to change your password for <%= @resource.email %>, and you can do this through the link below.</p>
    <p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>
    <p>If you didn't request this, please ignore this email.</p>
    <p>Your password won't change until you access the link above and create a new one.</p>
  </body>
</html>
